Options -Indexes

AuthUserFile /srv/filer01-free/hardibopj1/www/secret/.htpasswd
AuthGroupFile /dev/null
AuthName "Accès à l'administration"
AuthType Basic
require valid-user

RewriteEngine on

RewriteRule ^edit-page\.html$ index.php?page=1
RewriteRule ^edit-page-([0-9]{1,2})\.html$ index.php?page=1&numPage=$1
RewriteRule ^edit-page-([0-9]{1,2})-([0-9]{1,2})\.html$ index.php?page=1&numPage=$1&idPage=$2
RewriteRule ^change-title\.html$ index.php?page=2
RewriteRule ^add-gallery\.html$ index.php?page=3
RewriteRule ^add-photos\.html$ index.php?page=4
RewriteRule ^add-photos-([0-9]{1,4})\.html$ index.php?page=4&idGalerie=$1
RewriteRule ^gallery-([0-9]{1,4})\.html$ ../gallery.php?idGallery=$1
RewriteRule ^gestion-gallery\.html$ index.php?page=5
RewriteRule ^up-gallery-([0-9]{1,4})\.html$ index.php?page=5&idUp=$1
RewriteRule ^down-gallery-([0-9]{1,4})\.html$ index.php?page=5&idDown=$1
RewriteRule ^delete-gallery-([0-9]{1,4})\.html$ index.php?page=5&idDel=$1
RewriteRule ^ordre-photos\.html$ index.php?page=6
RewriteRule ^ordre-photos-([0-9]{1,4})\.html$ index.php?page=6&idGallery=$1
RewriteRule ^photo-up-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=6&idGallery=$1&idUp=$2
RewriteRule ^photo-down-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=6&idGallery=$1&idDown=$2
RewriteRule ^delete-photo-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=6&idGallery=$1&idDel=$2
RewriteRule ^change-title-footer\.html$ index.php?page=7
RewriteRule ^up-title-footer-([0-9]{1,4})\.html$ index.php?page=7&idUp=$1
RewriteRule ^down-title-footer-([0-9]{1,4})\.html$ index.php?page=7&idDown=$1
RewriteRule ^add-link-footer\.html$ index.php?page=8
RewriteRule ^gestion-links\.html$ index.php?page=9
RewriteRule ^gestion-links-([0-9]{1,4})\.html$ index.php?page=9&idFooter=$1
Rewriterule ^up-link-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=9&idFooter=$1&idUp=$2
Rewriterule ^down-link-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=9&idFooter=$1&idDown=$2
RewriteRule ^change-zoom\.html$ index.php?page=10
RewriteRule ^description-map\.html$ index.php?page=11
